<p id="notice"><%= notice %></p>

<h1>All Paintings by Bob Ross</h1>
<h5>See what you like and click to follow along</h5>

<div class = "row">
  <div class = "col-md-12">
    <div class = "row">
      <% @bob_arr.each do |bob| %>
        <div class="col-md-3">
          <%= image_tag bob.artwork, class: "d-block w-100 shadow p-3 mb-3 bg-white rounded" %>
          <p> Bob Ross </p>
          <p>Season: <%= bob.season %> Episode: <%= bob.episode %></p>
          <%= link_to "Have a closer look", painting_path(bob.id), class: "btn btn-primary"%>
          <p>Likes: <%= bob.likes %></p>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<%= link_to 'New Painting', new_painting_path %>