<p id="notice"><%= notice %></p>

<h1>Paintings</h1>

    <div class = "row">
      <div class = "col-md-12">
        <div class = "row">
          <% @paintings.each do |painting| %>
            <tr>
              <div class="col-md-3">
                <td><%= image_tag painting.artwork, class: "d-block w-100"  %></td>
                <td><%= painting.profile.username %></td>
                <td>Likes:</td>
                <td><%= painting.likes %></td>
              </div>
            </tr>
          <% end %>
        </div>
      </div>
    </div>

<br>

<%= link_to 'New Painting', new_painting_path %>
