<p id="notice"><%= notice %></p>
<div class = "row">
  <div class = "col-md-8">
    <div class = "row">
      <p>
        <strong>Picture:</strong>
        <% if @painting.artwork %>
          <%= image_tag @painting.artwork  if @painting.artwork.attached?%>
        <%end%>
      </p>
    </div>
  </div>
  <div class = "col-md-4">
    <p>
      <strong>River:</strong>
      <%= @painting.river %>
    </p>

    <p>
      <strong>Beach:</strong>
      <%= @painting.beach %>
    </p>

    <p>
      <strong>Cabin:</strong>
      <%= @painting.cabin %>
    </p>

    <p>
      <strong>Waterfall:</strong>
      <%= @painting.waterfall %>
    </p>

    <p>
      <strong>Guest:</strong>
      <%= @painting.guest %>
    </p>

    <p>
      <strong>Animal Guest:</strong>
      <%= @painting.animalguest %>
    </p>

    <p>
      <strong>Start Colour:</strong>
      <%= @painting.startcolour %>
    </p>

    <p>
      <strong>Start Shape:</strong>
      <%= @painting.shape %>
    </p>

    <p>
      <strong>Likes:</strong>
      <%= @painting.likes %>
    </p>

    <p>
      <strong>Other:</strong>
      <%= @painting.other %>
    </p>

    <p>
      <strong>Creator:</strong>
      <%= @painting.profile.username %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
