<p id="notice"><%= notice %></p>

<p>
  <strong>Trees:</strong>
  <%= @painting.trees %>
</p>

<p>
  <strong>River:</strong>
  <%= @painting.river %>
</p>

<p>
  <strong>Cabin:</strong>
  <%= @painting.cabin %>
</p>

<p>
  <strong>Waterfall:</strong>
  <%= @painting.waterfall %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @painting.guest %>
</p>

<p>
  <strong>Animalguest:</strong>
  <%= @painting.animalguest %>
</p>

<p>
  <strong>Startcolour:</strong>
  <%= @painting.startcolour %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @painting.shape %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @painting.likes %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @painting.picture %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @painting.profile %>
</p>

<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
